* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left button {
    padding: 12px 48px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    flex: 0 1 auto;
    margin-top: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.subtext,
a,
.subtext-info {
    font-size: 18px;
    color:  #bfc1c5;
}

.subtext {
    margin-top: 16px;
    width: 20%;
}

.image {
    display: flex;
    overflow: clip;
    width: 523px;
    height: 237px;
    background-color: #6D747D;
    margin-right: 32px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-flow: column wrap;
    padding: 0px 128px;
    padding-bottom: 64px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 0px;
    flex-wrap: wrap;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-left {
    padding: 0px 32px 32px;
}

.subtext {
    width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 24px 0px 100px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.heading-info {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 32px 0px;
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 160px;
}

.img-container {
    display: flex;
    overflow: hidden;
    border: 4px transparent #6D747D;
    border-radius: 8px;
    width: 100%;
    height: 160px;
}

.subtext-info {
    text-align: center;
}

.img-container img {
    object-fit: cover;
    width: auto;
    height: auto;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 320px;
    
}

.quote-author {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
}


.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.call-bg {
    height: 150px;
    width: 900px;
    background-color: #3882f6;
    display: flex;
    border-radius: 8px;
    padding: 0px 64px;
}

.call-bg button {
    align-self: center;
    margin-left: 190px;
    padding: 12px 48px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
}

.call-subtext {
    color: rgba(255, 255, 255, 0.712);
}

.call-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: rgba(255, 255, 255, 0.884);
    padding: 32px;
}